/* declare global variables */
:root {
    --darkest: rgb(3, 42, 82, 1);
    --flatText: rgb(121, 169, 217, 1);
    --lightest: rgb(8, 109, 209, 1);
    --grayTone: rgb(109, 111, 112, 1);
    --offDark: rgb(6, 81, 158, 1);
    --textcolor1: rgb(255, 255, 255, 1);

    --mainbackg: rgb(100, 100, 100);
    --backg1: linear-gradient(
        rgb(121, 169, 217, 0.4) 25%,
        rgb(3, 42, 82,  0.6) 85%
    );
    /* global sizing */
    --container-w-mins: 80vw;
    --container-h-mins: 80vw;
    --tile-w-mins: 40vw;
    --tile-h-mins: 40vw;
    --hero-w-mins: 60vw;
    --hero-h-mins: 60vw;  
  }

  /* TO DO remove
  :root {
      --tile-w-mins: 240px;
    --tile-h-mins: 240px;
    --hero-w-mins: 480px;
    --hero-h-mins: 480px;
  } */


/* set document fonts throughout */
* {
    font-family: Proxima Nova,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, 'Arial Narrow Bold', sans-serif; */
}

/* properties applicable to all items*/
body {
    background-color: var(--darkest);
    display: flex;
    flex-flow: column nowrap;
}

/* properties applicable to header, nav, and banner items*/
.header_container {
    display: flex;
    width: 100%;
    min-height: 50px;
    min-width: 250px;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.header_name {
    font-weight: bolder;
    font-size: 22pt;
    color: var(--textcolor1);
    /* align-content: center; */
    min-width: 250px;
    display: inline-block;
}

.header_nav, .nav_links {
    display: flex;
    font-weight: bolder;
    font-size: 20pt;
    min-width: 500px;
    min-height: 50px;
    display: inline-block;
}

.nav_links {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

.nav_items {
    align-items: center;
    color: var(--textcolor1);
}
/* properties applicable to hover state on nav and banner items*/
.nav_items:hover, .nav_items:active {
    box-shadow: inset 0px 0px 8px var(--lightest), 
    0px 0px 15px var(--lightest) ;
    cursor: URL("./images/pngs/cursor.png");
    border-radius: 10px;
}

.banner_section {
    min-height: 125px;
    width: 100%;
    background-image: var(--backg1), URL(./images/figures/Capture-cascades.gif);
    background-size: 15em 100%;
    background-repeat: repeat-x;
    /* background-size: contain;
    object-fit: contain; */
    /* background-color: green; */
    z-index: 1;
    position: relative;
    z-index: 1;
}

.banner_label {
    position: absolute;
    z-index: 100;
    right: 15px;
    bottom: 15px;
    background-color: var(--darkest);
    border-radius: 5px;
    font-size: 16pt;
    color: var(--textcolor1);
    padding: 1%;
    margin: 2px;
    box-shadow: inset 0px 0px 8px var(--lightest), 
    0px 0px 15px var(--lightest) ;
}

/* properties relevant to main page content, about and contact sections, intermediate tiles in the work section */
.main_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: var(--container-w-mins);
    width: 100%;
    height: 100%
}

.content_containers {
    width: 100%;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#top_container, #CTA_container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section_name {
    display: flex;
    color: var(--textcolor1);
    font-weight: bolder;
    font-size: 36pt;
    align-self: center;
    align-content: center;
    justify-self: flex-end;
    justify-content: flex-end;
    width: 60%;
    padding: 3% 10%;
}

.section_article, .article_copy {
    display: inline-block;
    flex-direction: column;
    align-content: flex-start;
    color: var(--textcolor1);
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 14pt;
    line-height: 1.5;
    padding: 1%;
    width: 100%;
}

#card_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* specialized properties granted to hero image*/
.hero_example {
    min-width: var(--hero-w-mins);
    aspect-ratio: 1 / 1;
    /* min-height: var(--hero-h-mins); */
    padding: 1%;
    margin: 1%;
    position: relative;
    /* apply transform to items */
    /* transform: rotate(1deg); */
    border: 1px solid var(--grayTone);
    border-radius: 20px;
    box-shadow: 7px 7px 5px var(--grayTone);
}

.tile_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px dashed blue; */
}

/* shared properties granted to tile images */
.tile_link, .tile_example {
    display: flex;
    min-width: var(--tile-w-mins);
    min-height: var(--tile-h-mins);
    aspect-ratio: 1 / 1;
    padding: 3%;
}

.tile_example {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    width: 40%;
    padding: 1%;
    margin: 1%;
    position: relative;
    /* apply transform to items */
    /* transform: rotate(1.5deg); */
    border: 2px solid var(--grayTone);
    border-radius: 20px;
    -webkit-border-radius: 25px;
    box-shadow: 7px 7px 5px var(--grayTone);
}

/* individual portfolio images used to link to work examples */
#etch {
    background-image: URL(./images/figures/etch.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}

#getweather {
    background-image: URL(./images/figures/Capture-getweather.gif);

}

#quizapp {
    background-image: URL(./images/figures/Capture-quizapp.gif);
}

#dayplanner {
    background-image: URL(./images/figures/Capture-dayplanner.gif)
}

#pwdgen {
    background-image: URL(./images/figures/Capture-pwdgen.gif);
}

#micra {
    background-image: URL(./images/figures/Capture-micraimplantation.gif);   
}

#cascades {
    background-image: URL(./images/figures/Screenshot-cascades.png);
}

#cardio {
    background-image: URL(./images/figures/Screenshot-cardioex.gif);
}

#top-derm {
    background-image: URL(./images/figures/Screenshot-top-derm.png);
}

#covid-19 {
    background-image: URL(./images/figures/Screenshot-covid19.png);
}

/* responsive glows for relevant states */
.hero_example:hover, .tile_example:hover, .tile_label:hover, .hero_example:active, .tile_example:active, .tile_label:active  {
    box-shadow: none;
    border: 1px solid var(--grayTone);
}
 
.tile_label {
    left: 0px;
    bottom: 0px;
    position: absolute;
    background-color: var(--mainbackg);
    color: var(--textcolor1);
    font-size: 22pt;
    border: 1px solid white;
    border-radius: 12px;
    padding: 2%;
    z-index: 100;
}

.footer {
    color: var(--textcolor1);
    font-size: 12pt;
    font-weight: bold;
    align-self: center;
    padding: 1%;
}

/* external link to open source repository that governs the page */
.githubicon {
    height: 1em;
    content: URL("./icons/GitHub-Mark-64px.png");
    object-fit: contain;
    border-radius: 15px;
    /* border: 1px solid --textcolor1; */
    /* color: white; */
    background-color: rgb(255, 255, 255, 0.8);
}

.githubicon:hover, .githubicon:active {
    box-shadow: inset 0px 0px 8px 
    rgb(105, 172, 234, 0.8), 
    0 0 15px rgb(35, 136, 230, 1);
}


/* properties for links*/
a {
    font-size: inherit;
    outline: none;
    color: var(--lightest);
    /* removes underlining of links */
    text-decoration: none;
  }

/* media tags help content display favorably in tablet and mobile browser viewports */
@media screen and (max-width: 992px) {
    .main_container {
        width: 98vw;
    }
    .hero_example {
        min-width: 90vw;
        min-height: 90vw;
    }
    .tile_link, .tile_example {
        min-width: 70vw;
        min-height: 70vw;
    }

    #top_container, #CTA_container {
        flex-direction: column;
        align-items: center;
    }
    .section_article, .article_copy {
        font-size: 12pt;
        line-height: 1.7;
    }
    .section_name{
        font-size: 22pt;
        justify-content: center;
        justify-self: center;
        align-content: center;
        align-self: center;
    }
}

@media screen and (max-width: 768px) {
    .header_nav, .nav_links {
        display: none;
    }
    .tile_label {
        font-size: 12pt;
        padding: 3%;
    }
}
